[submodule "Ft_printf"]
	path = agavrel
	url = https://github.com/BenjaminSouchet/Ft_printf.git
[submodule "libft"]
	path = libft
	url = git@github.com:CamilleBC/42-libft.git
[submodule "roblabla"]
	path = roblabla
	url = https://github.com/roblabla42/ft_printf.git
[submodule "luccasim"]
	path = luccasim
	url = https://github.com/luccasim/ft_printf.git
